@{
    ViewData["Title"] = "Create / Edit";
}
@model WebApp.Models.Expense;


<div class="text-center">
    <h1 class="display-4">Fill the form</h1>

    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
<form asp-controller="Home" asp-action="CreateEditExpenseForm">
    <label>Enter your Id</label>
    <input hidden class="form-control" type="number" placeholder="User id" asp-for="Id" />
    <label class="at-4">value</label>
    <input class="form-control" type="number" placeholder="User value" asp-for="value" step="0.01" />
    <label class="at-4">Description</label>
    <input class="form-control" type="text" placeholder="User description" asp-for="Description" step="0.01" />
    <button class="btn btn-primary at-4" type="submit">Submit</button>
</form>